* {
    box-sizing: border-box;
}


ul {
    margin: 0;
    padding: 0;
}

ul li {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    padding: 0px;
    background: #eee;
    font-family: Oswald;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
    background: #ddd;
}

ul li.checked {
    display: flex;
    align-items: center;
    background: #888;
    color: #fff;
    text-decoration: line-through;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li.checked::before {
    display: flex;
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.checkBtn {
    display: flex;
    font-family: Oswald;
    font-size: 18px;
    -webkit-appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    height: 52px;
    width: 1506px;
    padding-left: 2%;
}

.deleteBtn {
    background: none;
    width: 20px;
    height: 40px;
    cursor: pointer;
}

.close {
    align-items: center;
    background: none;
    border: none;
    color: #000000;
    position: relative;
    right: 0;
    top: 0;
    cursor: pointer;
    padding-right: 1%;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
}

.logo {
    padding-bottom: 5%;
    width: 300px;
}

.nani {
    display: block;
    width: 25px;
 }

.close:hover path {
    fill: #ffffff;

 }

.header {
    background-color: #3f6c2f;
    padding: 15px 30px;
}


.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 16px;
    float: left;
    font-size: 16px;

}

.addBtn {
    width: 25%;
    height: 50px;
    background: #bebebe;
    color: #555;
    float: left;
    text-align: center;
    font-family: Oswald;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    border: none;
    padding: 0px;
}

.addBtn:hover {
    background-color: #757575;
    color: #ffffff
}

